.Post {
    text-align: left;   
    background: #8eacbb;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.PostContainer {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    text-align: center;
    background: #607d8b;
    border-radius: 25px;
}
