.Post {
    text-align: left;   
    background: #8eacbb;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.PostContainer {
    position: static;
    text-align: center;
    background: #607d8b;
    border-radius: 25px;
    margin-top: 30px;
    padding-top: 5px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}
