.Ribbon
{
    position: absolute;
    left:0%;
    right:0%;
    background: #29434e;
    color: white;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.Ribbon-Header
{
    position: relative;
    left: 10px;
    margin-bottom: 0;
}

.Ribbon-SubHeader
{
    position: relative;
    left: 10px;
    margin-top: 0;
}


.Ribbon-Button
{
    color: white;
    background: transparent;
    border: thin;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}


