.Ribbon
{
    position: static;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    background: #29434e;
    color: white;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.Ribbon-Header
{
    margin-bottom: 0;
}

.Ribbon-SubHeader
{
    margin-top: 0;
}


.Ribbon-Button
{
    color: white;
    background: transparent;
    border: thin;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}


